/* AboutUsPage.css */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .about-us-container {
    display: flex;
  }
  
  .content-section {
    flex: 1;
    padding: 20px;
  }
  
  .mission-section,
  .why-choose-us-section,
  .team-section {
    margin-bottom: 20px;
  }
  
  .team-members-container {
    display: flex;
    flex-direction: column;
  }
  
  .team-member {
    margin-bottom: 10px;
  }
  
  .image-section {
    flex-basis: 50%;
    margin-top: 20px; /* Adjust the margin to bring the image down */
  }
  
  .app-image {
    /* width: 100%;
    max-height: 80%;  */
    object-fit: cover;
    border-radius: 8px;
  }
  