.plans-container {
    margin-top: 20px;
  }
  
  .plan-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .selected {
    /* color: #e0f7fa; */
    border:5px solid #34ebeb;
  }
  